@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

root {
  --hijau: #169944;
  --putih: #000000;
  --kuning-hero: #c88828;
  --lines: #f5b963;
  --card-title: #d7fff1;
  --standar: #ffffff;
  --packages-bg: #2b3030;
  --text: "Poppins", sans-serif, 400;
  --judul: "poppins", sans-serif, 700, italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* navbar session */
.navbar {
  padding: 0 10%;
  z-index: 99999;
  background-color: #ffffff;
}

.navbar-toggler {
  margin: 0 1rem;
}

.navbar-toggler-icon {
  color: #000000;
  width: 2rem;
  height: 2rem;
}
.navbar .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 2rem;
}

.navbar .navbar-brand span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #169944;
  font-size: 2rem;
}

.nav-link::after {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #f5b963;
}

.nav-link:hover {
  border-bottom: 0.8px solid #f5b963;
  transition: 0.2s;
}

.nav-item {
  margin: 1rem;
}

/* navbar end */

/* herro session */

.mycontainer .row {
  margin-top: 4.5rem;
  height: 500px;
}

.mycol1 {
  background-color: #000000;
}

.mycol1 .mytext {
  color: white;
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: -5rem;

  z-index: 2;

  background-size: 10rem;
}

.mycol1 .mytext .mycontainer h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mycol1 .mytext .mycontainer h1 span {
  color: #f5b963;
}

.mycol2 {
  background-image: url(../image/hero.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

/* hero end */

/* card session */

#packages {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 8rem;
}

.view {
  margin-right: 0.5rem;
}

#packages .row {
  margin-right: -4rem;
}

.mycard span {
  border-bottom: 2px solid #fdc87d;
}

.card-img-top {
  height: 400px;
}

.card {
  background-color: #2b3030;
  color: #ffffff;
  height: 700px;
  width: 558px;
}

.mycard {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.harga .person {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  font-size: 1.5rem;
}

.bali {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #d7fff1;
}

.icon {
  background-color: #2b3030;
  border-radius: 0.5em;
  margin-left: 30rem;
  margin-top: -24rem;
  margin-bottom: 20.4rem;
  width: 60px;
  height: 60px;
}

.bi-heart {
  width: 44px;
  height: 44px;
  margin-left: 8px;
  margin-top: 8px;
}

.bi-star-fill {
  color: #d7fff1;
}

.review p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}

/* card end */

/* inspiration start */
#inspiration {
  padding-top: 4rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-bottom: 10rem;
  background-color: #d7fff1;
}

#inspiration .view {
  margin-right: 2rem;
}

#inspiration .row {
  margin-right: -1.8rem;
  margin-left: 2rem;
}

.myins {
  margin-top: 0rem;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.myins span {
  border-bottom: 2px solid #fdc87d;
}

#inspiration .experiences {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.myins {
  margin-left: 2.5rem;
}

.next-trip {
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.img-exp {
  background-position: cover;
}

.card-body {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mycard2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.bali {
  margin-top: 1rem;
  color: #ffffff;
}

.bali2 {
  font-size: 1rem;
  color: #d7fff1;
}

.bg-ins {
  background-color: #596363;
}

.mycard2,
.bali2 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* inspiration end */

/* testimonial start */

.banner {
  background-image: url(../image/footer2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  padding-top: -800px;
}

/* testimonial end */

/* footer */

.bg-footer {
  background-color: #000000;
}

#footer {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #000000;
  color: #ffffff;
}

.btn {
  margin-top: 2rem;
  height: 2.5rem;
  background-color: #c88828;
  color: #ffffff;
}

.mybord {
  border-bottom: 0.2px solid #d7fff1;
}

#contact-us {
  background-color: #000000;
}

.footer {
  padding: 0 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  font-size: 2rem;
}

.footer span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #169944;
  font-size: 2rem;
}

.svg {
  width: 20px;
  height: 20px;
}

.judul-footer {
  color: #d7fff1;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: larger;
}

.text-footer {
  color: #ffffff;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: medium;
}

.copy {
  text-color: #949090;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: smaller;
}

.form {
  display: flex;
}

/* footer end */

@media (max-width: 590px) {
  /* nav start */
  .navbar {
    margin-top: -0.1rem;
  }

  .navbar-toggler-icon {
    color: #000000;
    width: 1rem;
    height: 1rem;
  }

  .navbar .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    font-size: 1.2rem;
  }
  .navbar .navbar-brand span {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #169944;
    font-size: 1.2rem;
  }
  .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    text-align: center;
  }

  .nav-item {
    margin: 5px 0;
  }

  .nav-link::after {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
  }

  /* nav end */

  /* hero start */

  .mycontainer .row {
    margin-top: 1rem;
    height: 20rem;
  }

  .mycol1 .mytext {
    display: flex;
    color: white;

    margin-top: 3rem;
    margin-left: 1rem;
  }
  .mycol1 .mytext .mycontainer h1 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
  }

  .mycol1 .mytext .mycontainer p {
    font-size: small;
  }

  .mycol2 {
    background-image: url(../image/hero.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  /* hero end */

  /* card start */

  .mycard {
    font-family: "Source Serif 4", serif;
    font-size: larger;
    font-weight: 700;
    font-style: normal;
  }

  .view {
    margin-top: 3em;
    font-size: 0.6rem;
  }

  .enjoy {
    margin-top: 0;
    font-size: smaller;
  }

  .enjoy {
    font-size: 0.7rem;
  }

  .card {
    height: 29rem;
    width: 20rem;
  }

  .bali {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.7rem;
    color: #d7fff1;
  }

  .harga {
    font-size: 1rem;
  }

  .harga .person {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #ffffff;
    font-size: 0.7rem;
  }

  .card-img-top {
    height: 225px;
  }

  .icon {
    background-color: #2b3030;
    border-radius: 0.5em;
    margin-left: 17rem;
    margin-top: -12.9rem;
    margin-bottom: 11.5rem;
    width: 2.3rem;
    height: 2.3rem;
  }

  .bi-heart {
    width: 20px;
    height: 20px;
    margin-left: 8.5px;
    margin-top: 8.8px;
  }

  .review p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 0.8rem;
  }
  /* hero end */

  .myins {
    font-family: "Source Serif 4", serif;
    font-size: larger;
    font-weight: 700;
    font-style: normal;
  }

  .experiences {
    margin-top: 3em;
    font-size: 0.6rem;
  }

  .next-trip {
    margin-top: 0;
    font-size: smaller;
  }

  .bg-footer h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    font-size: 2rem;
  }

  .bg-footer p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 0.9rem;
  }

  .judul-footer h5 {
    font-size: medium;
  }

  .text-footer {
    font-size: small;
  }

  .footer,
  .footer span {
    font-size: 1.3rem;
  }

  .copy {
    font-size: 0.5em;
  }

  .form {
    display: grid;
  }

  .form button {
    font-size: 0.8rem;
  }

  .form-control {
    font-size: 0.8rem;
  }

  .bali2 {
    font-family: "Source Serif 4", serif;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: normal;
  }

  .mycard2 {
    font-size: 1rem;
  }
}
